@font-face {
	font-family: 'SF-Regular';
	src: url('./images/font/SFNSText-Medium.otf');
}
@font-face {
	font-family: 'SF-Bold';
	src: url('./images/font/SFNSText-BoldG3.otf');
}
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--container-width: 80%;
	--no-of-grids: 6;
	--main-font-family: 'SF-Regular', sans-serif;
	--bold-font-family: 'SF-Bold', sans-serif;
	--main-font-color: #444;
	--sub-font-color: #25269d;
	--sub-font-color-2: #3f3d56;
	--sub-color: #268bca;
	--sub-color2: rgb(238, 236, 247);
}
textarea,
input[type='text'] {
	font-family: var(--main-font-family);
}
.wave {
	display: block;
}
.wave-inverted {
	transform: matrix(1, 0, 0, -1, 0, 0);
	display: block;
}
.wave-path {
	animation: wave-animation 2.5s linear infinite alternate;
}
a,
a:focus,
a:hover,
a:active {
	text-decoration: none;
}
@keyframes wave-animation {
	0% {
		d: path(
			'M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z'
		);
	}
	50% {
		d: path(
			'M655.558582,28.4898877 C500.191373,61.6062216 422.833785,83.5422763 266.940085,49.8995879 C112.480383,16.5663637 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,49.8995879 C1580.91676,-34.8808285 1438.10804,73.6768193 1148.0266,38.0019829 C857.945166,2.32714659 810.925791,-4.62644617 655.558582,28.4898877 Z'
		);
	}
	100% {
		d: path(
			'M842.322034,38.0019829 C686.954825,71.1183168 623.386282,53.08497 467.492582,19.4422816 C313.032879,-13.8909426 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,76.8685643 C1512.23604,-35.3595639 1568.70222,67.4289432 1278.62078,31.7541069 C988.539347,-3.92072949 997.689243,4.88564905 842.322034,38.0019829 Z'
		);
	}
}
html {
	font-size: 16px;
	color: var(--main-font-color);
	scroll-behavior: smooth;
}
body {
	font-family: var(--main-font-family);
}
img {
	max-width: 100%;
}
li {
	list-style-type: none;
	cursor: pointer;
}
/*hamburger*/
.menu-btn {
	position: static;
	z-index: 3;
	height: 60px;
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu-btn-hamburger {
	height: 4px;
	width: 35px;
	background-color: black;
	border-radius: 40px;
	transition: all 500ms ease-in-out;
}
.menu-btn-hamburger::before,
.menu-btn-hamburger::after {
	content: '';
	position: absolute;
	height: 4px;
	width: 35px;
	background-color: black;
	border-radius: 40px;
	transition: all 500ms ease-in-out;
}
.menu-btn-hamburger::before {
	transform: translateY(-12px);
}
.menu-btn-hamburger::after {
	transform: translateY(12px);
}
.menu-btn.open .menu-btn-hamburger {
	transform: translateX(-50px);
	background-color: transparent;
	box-shadow: none;
}

.menu-btn.open .menu-btn-hamburger::before {
	transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn-hamburger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}
/*navbar*/
.container {
	width: var(--container-width);
	margin: auto;
	margin-bottom: 5rem;
}
.main-project {
	margin-bottom: 5rem;
}
header {
	height: 5rem;
	width: 90%;
	margin: auto;
}
.main-nav {
	padding-top: 0.5rem;
}
.nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: -290px;
	padding: 7rem;
	flex-direction: column;
	z-index: 100;
	height: 100vh;
	background-color: var(--sub-font-color);
	border-radius: 0 20px 20px 0;
	color: var(--sub-color2);
	transition: all 650ms ease-in-out;
}
.nav-list.active{
	left: 0;
}
.nav-right {
	display: none;
}
.nav-item {
	margin-top: 3rem;
}
.mobile-toggle{
	position:relative;
	z-index: 200;
}
.mobile-toggle i {
	font-size: 1.8rem;
}
/*Chevron*/
.chevron-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 25vh;
}

.chevron {
	position: absolute;
	width: 2.1rem;
	height: 0.48rem;
	opacity: 0;
	transform: scale(0.3);
	-webkit-animation: move-chevron 3s ease-out infinite;
	animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
	-webkit-animation: move-chevron 3s ease-out 1s infinite;
	animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
	-webkit-animation: move-chevron 3s ease-out 2s infinite;
	animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
	content: '';
	position: absolute;
	top: 0;
	height: 100%;
	width: 50%;
	background: #2c3e50;
}

.chevron:before {
	left: 0;
	transform: skewY(30deg);
}

.chevron:after {
	right: 0;
	width: 50%;
	transform: skewY(-30deg);
}

@-webkit-keyframes move-chevron {
	25% {
		opacity: 1;
	}
	33.3% {
		opacity: 1;
		transform: translateY(2.28rem);
	}
	66.6% {
		opacity: 1;
		transform: translateY(3.12rem);
	}
	100% {
		opacity: 0;
		transform: translateY(4.8rem) scale(0.5);
	}
}

@keyframes move-chevron {
	25% {
		opacity: 1;
	}
	33.3% {
		opacity: 1;
		transform: translateY(2.28rem);
	}
	66.6% {
		opacity: 1;
		transform: translateY(3.12rem);
	}
	100% {
		opacity: 0;
		transform: translateY(4.8rem) scale(0.5);
	}
}
/*Hero*/
.hero {
	height: 100vh;
}
.line2 {
	font-size: 1.3rem;
}
.s1-grid {
	display: grid;
	grid-template-columns: repeat(var(--no-of-grids), 1fr);
	grid-gap: 2rem;
	place-items: center;
	margin-top: 4rem;
}
.s1-grid-item {
	grid-column: span 6;
}

.s1-grid-item h3 {
	font-size: 1.2rem;
}
.s1-grid-item h1 {
	font-family: var(--bold-font-family);
	font-weight: bold;
	font-size: 2.5rem;
}
.s1-grid-item p {
	padding: 0.6rem 0 0.6rem 0;
	line-height: 1.3;
}
.s1-grid-item button {
	padding: 1rem;
	background-color: transparent;
	border: 2px solid var(--sub-font-color);
	color: var(--sub-font-color);
	font-weight: bold;
	font-size: 1.1rem;
	border-radius: 10px;
}

/*Tech stack*/
.about-me {
	background-color: var(--sub-color2);
}

.about-me-content {
	padding: 4rem 0;
	width: var(--container-width);
	margin: auto;
}
.about-me-content h3 {
	margin-bottom: 2rem;
	text-align: center;
}
.about-me-content h1 {
	margin-bottom: 2rem;
	text-align: center;
}
.about-stack {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1rem;
}
.about-stack li{
	margin-right: 1rem;
	margin-bottom: 1rem;
	border:1px solid black;
	padding:0.4rem;
	border-radius:10px;
}
/*Projects*/
.projects h1 {
	text-align: center;
	margin-bottom: 1rem;
	font-size: 2.5rem;
}
.project-grid {
	display: grid;
	grid-template-columns: repeat(var(--no-of-grids), 1fr);
	grid-gap: 2rem;
	margin-top: 3rem;
	place-items: center;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding: 1rem;
}
.project-item {
	grid-column: span 6;
}
.project-item h3 {
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}
.project-img img{
	border:1px solid black;
	padding:0.2rem;
}
.project-item p {
	margin-bottom: 0.5rem;
}
.tech-stack-used ul {
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	margin-right: 1rem;
	margin-bottom: 0.5rem;
}
.tech-stack-used ul li {
	margin-right: 0.5rem;
	margin-top:0.5rem;
	
}
.project-item button,
.project-item button:focus {
	padding: 0.6rem;
	font-size: 1rem;
	background-color: transparent;
	border: 2px solid var(--sub-font-color);
	color: var(--sub-font-color);
	font-weight: bold;
	font-size: 1.1rem;
	border-radius: 10px;
	margin-top: 0.5rem;
}
.stack {
	font-size: 1rem;
	font-weight: 800;
	margin-bottom: 0.7rem;
}
.tech-stack-used ul li {
	background-color: var(--sub-font-color);
	padding: 0.5rem;
	color: #fff;
	border-radius: 10px;
	font-size: 0.8rem;
}

/*contact*/
.contact {
	background-color: var(--sub-color2);
}
.contact-container {
	width: var(--container-width);
	margin: auto;
	padding: 4rem 0 4rem 0;
}
.contact-grid-item h3 {
	margin-bottom: 1rem;
	text-align: center;
	font-size:2.5rem;
}

.contact-grid {
	display: grid;
	grid-template-columns: repeat(var(--no-of-grids), 1fr);
	grid-gap: 2rem;
}
.contact-grid-item {
	grid-column: span 6;
}
.contact-form {
	text-align: center;
}
input[type='text'] {
	margin: 0.3rem;
	padding: 0.7rem;
	width: 90%;
	border: none;
}
textarea {
	margin: 0.3rem;
	padding: 0.7rem;
	width: 90%;
	border: none;
}
.contact-form button {
	margin-top: 0.5rem;
	padding: 0.6rem;
	width: 40%;
	font-size: 1.1rem;
	background-color: transparent;
	border: 2px solid var(--sub-font-color-2);
	color: var(--sub-font-color-2);
	font-weight: bold;
	font-size: 1.1rem;
	border-radius: 10px;
	margin-top: 0.5rem;
}
.social-links {
	text-align: center;
	margin-top: 4rem;
}
.social-links i {
	padding: 1.2rem;
	font-size: 1.6rem;
	color: var(--sub-font-color-2);
}
.social-links-sidebar {
	display: none;
}
.comp-grid {
	display: grid;
	grid-template-columns: 30% 70%;
	place-items: center;
	align-items: start;
	justify-items: start;
	grid-gap: 1rem;
	margin-bottom: 2rem;
}
.comp-grid div {
	text-align: left;
}
.experience p {
	padding: 0;
	margin: 0;
}
.copyright{
	text-align: center;
}
/*tabs*/
.mytabs {
	display: flex;
	flex-wrap: wrap;
}
input[type='radio'] {
	display: none;
}
.mytabs label {
	padding: 1rem;
}
.mytabs .tab {
	background-color: #fff;
	padding: 1rem;
	order: 1;
	display: none;
}
.mytabs input[type='radio']:checked + label + .tab {
	display: block;
}
.mytabs input[type='radio']:checked + label {
	background: #fff;
}
.abt-image {
	border: 4px solid var(--sub-font-color-2);
	padding: 0.2rem;
}

/*tech*/
.tech-stack {
	display: flex;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}
@media screen and (min-width: 768px) {
	:root {
		--no-of-grids: 12;
	}
	.nav-list {
		display: flex;
		flex-direction: row;
		position: static;
		height: 6rem;
		background-color: transparent;
		color:black;
		padding: 1rem;
		justify-content: flex-end;
	}
	.nav-list li {
		font-size: 1.2rem;
		margin-left: 3rem;
	}
	.mobile-toggle {
		display: none;
	}
	header {
		height: 8rem;
		margin: auto;
	}
	.order1 {
		order: 2;
	}
	.order2 {
		order: 1;
	}
	.project-grid{
		margin-top:5rem;
	}
	.s1-grid-item div {
		text-align: left;
	}
	.social-links {
		display: none;
	}
	.social-links-sidebar {
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 40%;
		bottom: 50%;
		padding: 1.5rem;
		z-index: 300;
	}
	.social-links-sidebar i {
		padding: 1.5rem;
		font-size: 1.5rem;
		color: var(--sub-font-color-2);
		transition: transform 0.5s ease-in-out;
	}
	.social-links-sidebar i:hover {
		transform: scale(1.5);
	}
}
@media screen and (min-width: 1024px) {
	:root {
		--container-width: 80%;
	}

	.hero-img {
		height: 400px;
	}
	.project-item {
		padding: 1rem;
	}
	.s1-grid-item h1,
	h3 {
		line-height: 1.1;
	}
	.s1-grid-item h3 {
		font-size: 2rem;
	}
	.s1-grid-item h1 {
		font-size: 3.6rem;
	}
	.s1-grid-item p {
		line-height: 1.6;
	}
	.line2 {
		font-size: 2rem;
	}
	.s1-grid-item button {
		font-size: 1.4rem;
	}
	.about-me-content h1 {
		font-size: 3.6rem;
	}
	.projects h1 {
		font-size: 3.6rem;
	}
	.project-item h3 {
		font-size: 2rem;
	}
	.project-item p {
		font-size: 1rem;
		line-height: 1.6;
	}
	.stack {
		font-size: 1rem;
		font-weight: 600;
	}
	.tech-stack-used ul li {
		font-size: 1rem;
	}
	.contact-grid-item h3 {
		font-size: 3.6rem;
		text-align: left;
	}
	.contact-grid-item p {
		font-size: 1rem;
		line-height: 1.4;
	}
	.abt-image {
		height: 300px;
	}
}
